<%- include('./partials/header'); %>
<div class='sky'>

</div>
<section class='section-padding'>
  <div class="">
    <h1>you are in your profile</h1>
  </div>

  <h2><%= name %></h2>
  <h2><%= phone %></h2>
  <h2><%=areaCode%></h2>
  <h2><%-sunriseMessage%></h2>
</section>
<%- include('./partials/footer'); %>
