

<%- include('./partials/header'); %>


<div class="">
  <h1>you are in your profile</h1>
</div>

<h2><%= name %></h2>
<h2><%= phone %></h2>
<h2><%= habit %></h2>

<%- include('./partials/footer'); %>
